@font-face {
  font-family: 'One UI Sans APP VF';
  src: url('/fonts/Variable One UI Sans.woff') format('woff'),
       url('/fonts/Variable One UI Sans.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
